.hide {
  opacity: 0;
}
.show {
  opacity: 1;
  transition: opacity 1s;
}

h1 {
  text-align: center;
}

main {
  display: inline-block;
}

#constant {
  background-color: lightblue;
}

#variables {
  background-color: lightgreen;
}
